html, body, #root, .App {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #0047ab, #005fdb);
}

.App {
  padding: 20px;
}
